.btn {
  padding: 30px;
  border: none;
  color: white;
  background-color: crimson;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn input {
  padding: 10px;
  border: none;
  box-shadow: 0 0 4px 0 white;
}

.btn .submit {
  text-align: center;
}

.btn .submit button {
  padding: 10px;
  margin-top: 30px;
  background-color: white;
  color: rgb(21, 19, 19);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn .submit button:hover {
  background-color: rgb(21, 19, 19);
  color: white;
}
